* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white-color;
  font-family: $main-font-family;
  font-size: 1.5rem;
  line-height: 1.6;
  color: $text-color-3;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
