$main-sections-bg: #777777;
$span-bg-color: #3b79c3;
$main-brends-bg: #d3d3d3;
$header-footer-bg: #6b6b6b;
$selector-bg: #ffffff;
$text-color-1: #000000;
$text-color-2: #111111;
$text-color-3: #333333;
$light-bg: #ebebeb;
$white-color: #ffffff;

// fonts

$main-font-family: "Roboto", "Arial", sans-serif;
