.footer {
  background-color: $header-footer-bg;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  &__bottom {
    background-color: $text-color-2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  &__bottom-text {
    color: $main-sections-bg;
    line-height: 1.67;
    font: {
      family: $main-font-family;
      weight: 400;
      size: 1.2rem;
    }
  }
}
.sitenav {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 4rem;
  }
  &__link {
    color: $white-color;
    font: {
      family: $main-font-family;
      size: 1.4rem;
      weight: 400;
      line-height: 1.43;
    }
  }
}
